.wrapper {
	color: #0d0d0d;
}

//.header,
//.promo {
//	padding: 0 100px;
//}

.container {
	max-width: 940px;
	margin: 0 auto;
}
.button {
	background-color: $main-color;
	border: none;
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 5px;
	&:hover {
		background: linear-gradient(to bottom, #c23b3b, $main-color, #c75a01);
	}
}
.form {
	input {
		display: block;
		width: 300px;
		height: 50px;
		margin: 0 0 15px 0;
		border-radius: 5px;
		padding: 0 0 0 20px;
		color: #4b4b4b;
		font-size: 14px;
		font-weight: 300;
	}
	button {
		width: 300px;
		height: 55px;
		margin: 5px 0 0 0;
		font-size: 16px;
	}
}
