.header {
	padding: 21px 10px 21px 10px;
	position: absolute;
	width: 100%;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		margin: 3px 0 0 0;
		height: 45px;
		width: 251px;
		img {
			width: 100%;
		}
	}

	&__text {
		color: #ffffff;
		text-align: center;
		font-size: 12px;
		font-weight: 500;
		margin: 7px 0 0 0;
		span {
			font-size: 18px;
			font-weight: 700;
			display: block;
			padding: 12px 0 0 0;
		}
	}

	&__contact {
		text-align: right;
	}

	&__phone {
		color: #ffffff;
		font-size: 18px;
		font-weight: 700;
		text-decoration: none;
		display: block;
		margin: 0 0 8px 0;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	&__button {
		height: 30px;
		width: 150px;
		font-size: 12px;
	}
}
